.App {
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 30vmin;
  border-radius: 150px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: 0;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-header ul {
  margin-top: 100px;
  padding: 0;
  list-style: none;
}

.App-header ul li {
  font-size: 30px;
  margin-bottom: 50px;
  padding: 0, 30px;
}

.App-header ul li a{
  color: #fff;
  text-decoration: none;
}

.App-header ul li a:hover {
  color: #ccc;
}

.App-link {
  color: #61dafb;
}
